<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-upi" version="1.0.0">
    <name>UPI</name>

    <description>This Plugin allows you receive payment via UPI.</description>

    <author>Arun Yokesh Kumar</author>

    <license>MIT</license>

    <keywords>cordova, plugin, UPI, NPCI, Mobile</keywords>

    <repo>https://github.com/ArunYogi/cordova-plugin-upi.git</repo>

    <issue>https://github.com/ArunYogi/cordova-plugin-upi/issues</issue>

    <js-module src="www/upi.js" name="UPI">
        <clobbers target="window.UPI" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UPIPlugin">
                <param name="android-package" value="com.cordova.upi.UPIPlugin" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file src="src/android/UPIPlugin.java" target-dir="src/com/cordova/upi"/>
    </platform>
</plugin>
